@model eLearning.Models.Skola


@section skripte{
    <link rel="stylesheet" href="~/css/admin-panel.css">
}


<div class="edit-form school">
    <form asp-controller="Admin" asp-action="setEditSChool" method="post" enctype="multipart/form-data">
        @Html.HiddenFor(m => m.skolaID)
        <input type="hidden" asp-for="logo" />
 
        <label>Ime skole</label>
        <input type="text" asp-for="@Model.naziv">

        <label>Slika skole</label>
        <input type="file" name="logo2" class="img-upload">

        <button>Submit</button>
    </form>
</div>