@model SchoolViewModel

@{
    Layout = "_AdminLayout";
}


<form asp-controller="Admin" asp-action="insertSchool" enctype="multipart/form-data" class="school-form">
    <input asp-for="naziv" placeholder="School name">
    <span asp-validation-for="naziv"></span>

    <input class="img-upload" asp-for="logo" />

    <button>Submit</button>
</form>
