@model CourseViewModel

<form asp-controller="Admin" asp-action="isnertCourse" method="post" enctype="multipart/form-data">
    <input type="text" placeholder="Course name" asp-for="imekursa">
    <span asp-validation-for="imekursa" class="text-danger"></span>

    <textarea rows="4" cols="50" placeholder="Description..." asp-for="detaljikursa"></textarea>
    <span asp-validation-for="detaljikursa" class="text-danger"></span>

    <select asp-for="kategorijaID">
        @foreach (var category in ViewBag.adminViewModel.kategorije)
        {
            <option value="@category.kategorijaID">
                @category.imekategorije
            </option>
        }
    </select>
    <select asp-for="skolaID">
        @foreach (var school in ViewBag.adminViewModel.skole)
        {
            <option value="@school.skolaID">
                @school.naziv
            </option>
        }
    </select>
    <input type="text" placeholder="Link" asp-for="link">
    <span asp-validation-for="link" class="text-danger"></span>

    <input placeholder="Image" asp-for="slika" class="img-upload">
    <span asp-validation-for="slika" class="text-danger"></span>

    <input type="text" placeholder="Level" asp-for="nivoKursa">
    <span asp-validation-for="nivoKursa" class="text-danger"></span>

    <button>Submit</button>
</form>