
@{
    ViewBag.Title = "E-learning";
}

<!-- Navigation -->
<nav>
    <div class="logo">
        <a href="index.html"><span>e</span>Learning</a>
    </div>
    <!-- KORISNIK NIJE REGISTROVAN -->
    <div class="content">
        <a href="Learning/Register">Register</a>
        <a href="Learning/Login">Login</a>
    </div>
    <!-- SAMO KADA JE KORISNIK REGISTROVAN  -->
    <!-- <div class="user">
        <i class="fas fa-user fa-2x"></i>
        <p><span>Welcome</span> Jovan Jovanovic</p>
    </div> -->
</nav>


<!-- INTRO SECTION -->
<section class="main">
    <div class="main-left">
        <h1>Best free <br> Online Courses</h1>
        <!-- KORISNIK NIJE REGISTROVAN -->
        <a href="Learning/Register">Sign in to see the content we offer</a>
        <!-- SAMO KADA JE KORISNIK REGISTROVAN (PRIKAZ SKOLA I KURSEVA) -->
        <!-- <div class="content">
            <a href="#">Courses</a>
            <a href="#">Schools</a>
        </div> -->
    </div>
    <div class="main-right">
        <img src="images/slika2.png" alt="">
    </div>
</section>