
@{
    ViewBag.Title = "E-learning";
}

@section skripte{
    <link rel="stylesheet" href="~/css/login.css">
}

<form>
    <i class="fas fa-user fa-3x" id="user-icon"></i>
    <label>Username</label>
    <input type="text" id="user-name" name="user-name">
    <label>Password</label>
    <input type="password" name="password">
    <button>Login</button>

    <a href="#">Don't have an account?</a>
</form>
