@model List<Kursevi>

@{
    ViewBag.Title = "E-learning";
}

@section skripte{
    <link rel="stylesheet" href="~/css/courses.css">
}

<form action="" class="search-form">
    <input class="search" type="text" placeholder="Type here...">
    <button>Search</button>
</form>
<div class="main-container">
    <div class="courses-category">
        <h2>Kategorije</h2>
        <a href="#">Programiranje</a>
        <a href="#">Biologija</a>
        <a href="#">Srpski</a>
        <a href="#">Web programiranje</a>
        <a href="#">Informatika</a>
    </div>
    <div class="course-container">
        @foreach (var item in Model)
        {
            <div class="course-card">
                <img class="course-img" src="@item.slika" alt="">
                <div class="course-content">
                    <a class="course-title"> @item.imekursa</a>
                    <p class="course-about">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ut?
                    </p>
                    <a class="course-enrol"  asp-controller="Kursevi" asp-action="CourseDetails" asp-route-id="@item.kursID">Details</a>
                </div>
            </div>
        }
           
        </div>
</div>