@{
    ViewBag.Title = "E-learning";
}
@section skripte{
    <link rel="stylesheet" href="~/css/courses.css">
}

<form action="" class="search-form">
    <input class="search" type="text" placeholder="Type here...">
    <button>Search</button>
</form>
<div class="course-container">

    <div class="course-card">
        <img class="course-img" src="https://kursevi.com/images/kursevi.com.jpg" alt="">
        <div class="course-content">
            <a class="course-title" href="#">Programming</a>
            <p class="course-about">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ut?
            </p>
            <a class="course-enrol" href="#">Details</a>
        </div>
    </div>
    <div class="course-card">
        <img class="course-img" src="https://www.python.org/static/opengraph-icon-200x200.png" alt="">
        <div class="course-content">
            <a class="course-title" href="#">Programming</a>
            <p class="course-about">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ut?
            </p>
            <a class="course-enrol" href="#">Details</a>
        </div>
    </div>
    <div class="course-card">
        <img class="course-img" src="https://blog.logrocket.com/wp-content/uploads/2021/03/javascript-php-developers.png" alt="">
        <div class="course-content">
            <a class="course-title" href="#">Programming</a>
            <p class="course-about">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ut?
            </p>
            <a class="course-enrol" href="#">Details</a>
        </div>
    </div>
    <div class="course-card">
        <img class="course-img" src="https://e.skolasvilajnac.edu.rs/pluginfile.php/666/course/overviewfiles/csharp.png" alt="">
        <div class="course-content">
            <a class="course-title" href="#">Programming</a>
            <p class="course-about">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ut?
            </p>
            <a class="course-enrol" href="#">Details</a>
        </div>
    </div>
    <div class="course-card">
        <img class="course-img" src="https://rapidapi.com/blog/wp-content/uploads/2018/06/logo-2582748_640.png" alt="">
        <div class="course-content">
            <a class="course-title" href="#">Programming</a>
            <p class="course-about">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ut?
            </p>
            <a class="course-enrol" href="#">Details</a>
        </div>
    </div>
    <div class="course-card">
        <img class="course-img" src="https://i.pinimg.com/originals/7f/fd/20/7ffd20b2215bbea4531412826ce8399a.jpg" alt="">
        <div class="course-content">
            <a class="course-title" href="#">Programming</a>
            <p class="course-about">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ut?
            </p>
            <a class="course-enrol" href="#">Details</a>
        </div>
    </div>
    <div class="course-card">
        <img class="course-img" src="https://kursevi.com/images/kursevi.com.jpg" alt="">
        <div class="course-content">
            <a class="course-title" href="#">Programming</a>
            <p class="course-about">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ut?
            </p>
            <a class="course-enrol" href="#">Details</a>
        </div>
    </div>


</div>