@*@model Kursevi*@

@{ViewBag.Title = "E-learning";}

@section skripte{
    <link rel="stylesheet" href="~/css/courseMap.css">
}

<div class="content-table">
    <table>
        <h1 class="course-category">Math</h1>
        <tr>
            <th>Name</th>
            <th>About</th>
            <th>School</th>
            <th>Level</th>
        </tr>
        <tr>
            <td class="course-name"><a href="#">Lorem ipsum dolor sit.</a></td>
            <td class="course-about">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptatem facilis, odit laborum inventore maiores eaque repellendus ea doloremque incidunt.</td>
            <td class="course-school"><a href="#">Cursera</a></td>
            <td class="course-level">1.0</td>
        </tr>
        <tr>
            <td class="course-name"><a href="#">Lorem ipsum dolor sit.</a></td>
            <td class="course-about">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptatem facilis, odit laborum inventore maiores eaque repellendus ea doloremque incidunt.</td>
            <td class="course-school"><a href="#">Cursera</a></td>
            <td class="course-level">1.0</td>
        </tr>
        <tr>
            <td class="course-name"><a href="#">Lorem ipsum dolor sit.</a></td>
            <td class="course-about">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptatem facilis, odit laborum inventore maiores eaque repellendus ea doloremque incidunt.</td>
            <td class="course-school"><a href="#">Cursera</a></td>
            <td class="course-level">1.0</td>
        </tr>
    </table>
    <table>
        <h1 class="course-category">Web programming</h1>
        <tr>
            <th>Name</th>
            <th>About</th>
            <th>School</th>
            <th>Level</th>
        </tr>
        <tr>
            <td class="course-name">
                <a href="#">
                    Lorem ipsum dolor sit.
                </a>
            </td>
            <td class="course-about">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptatem facilis, odit laborum inventore maiores eaque repellendus ea doloremque incidunt.</td>
            <td class="course-school"><a href="#">Cursera</a></td>
            <td class="course-level">1.0</td>
        </tr>
        <tr>
            <td class="course-name"><a href="#">Lorem ipsum dolor sit.</a></td>
            <td class="course-about">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptatem facilis, odit laborum inventore maiores eaque repellendus ea doloremque incidunt.</td>
            <td class="course-school"><a href="#">Cursera</a></td>
            <td class="course-level">1.0</td>
        </tr>
        <tr>
            <td class="course-name"><a href="#">Lorem ipsum dolor sit.</a></td>
            <td class="course-about">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptatem facilis, odit laborum inventore maiores eaque repellendus ea doloremque incidunt.</td>
            <td class="course-school"><a href="#">Cursera</a></td>
            <td class="course-level">1.0</td>
        </tr>
    </table>
    <table>
        <h1 class="course-category">Sql</h1>
        <tr>
            <th>Name</th>
            <th>About</th>
            <th>School</th>
            <th>Level</th>
        </tr>
        <tr>
            <td class="course-name">
                <a href="#">
                    Lorem ipsum dolor sit.
                </a>
            </td>
            <td class="course-about">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptatem facilis, odit laborum inventore maiores eaque repellendus ea doloremque incidunt.</td>
            <td class="course-school"><a href="#">Cursera</a></td>
            <td class="course-level">1.0</td>
        </tr>
        <tr>
            <td class="course-name"><a href="#">Lorem ipsum dolor sit.</a></td>
            <td class="course-about">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptatem facilis, odit laborum inventore maiores eaque repellendus ea doloremque incidunt.</td>
            <td class="course-school"><a href="#">Cursera</a></td>
            <td class="course-level">1.0</td>
        </tr>
        <tr>
            <td class="course-name"><a href="#">Lorem ipsum dolor sit.</a></td>
            <td class="course-about">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptatem facilis, odit laborum inventore maiores eaque repellendus ea doloremque incidunt.</td>
            <td class="course-school"><a href="#">Cursera</a></td>
            <td class="course-level">1.0</td>
        </tr>
    </table>
</div>