@model Kursevi

@{ViewBag.Title = "E-learning";}

@section skripte{
    <link rel="stylesheet" href="~/css/course.css">
}

<h1>@Model.imekursa</h1>
<div>
    <div class="course-img">
        <img src="@Model.slika" alt="">
    </div>

    <div class="about-course">
        <table>

            <tr>
                <th>Description</th>
                <td>@Model.detaljikursa</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>Programming</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>Advanced</td>
            </tr>
            <tr>
                <th>School</th>
                <td>edX</td>
            </tr>
        </table>
        <a class="course-link" href="@Model.link" target="_blank">Visit course</a>
    </div>
</div>