@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url("../images/Sajt-slike/slika_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content-table {
  width: 90% !important;
  margin: 0 auto;
  background-color: #1a1b20;
  min-height: 100vh;
  border-radius: 10px;
  padding: 2rem;
}

table {
  margin: 1.5em 0;
  padding-bottom: 1em;
  background-color: #24252a;
  border-radius: 7px;
  margin-bottom: 5em;
  width:100%;
}
.course-category {
  color: #fff;
  padding-left: 0.5em;
}

table tr th {
  color: #fff;
  text-align: left;
  padding-left: 1em;
  padding: 1em;
  text-decoration: underline;
}

tr:nth-child(even) {
  background-color: #2834a2;
}

table tr td {
  color: #fff;
  padding: 1em;
  border-radius: 7px;
  margin: 0.5em 1em;
  border-bottom: 2px solid #fff;
}
table tr td a {
  text-decoration: none;
  color: #fff;
}

.course-name {
  width: 20%;
}
.course-about {
  width: 50%;
}
.course-school {
  width: 10%;
}
.course-level {
  width: 5%;
  /* color: rgb(180, 0, 0); */
}
