@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    position: relative;
    background: #1a1a21;
    min-height: 100vh;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 40px;
    overflow: hidden;
}

.content h1 {
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 100px 0;
    margin-bottom: 60px;
    cursor: default;
    font-size: 2.2em;
}
.content h1::after {
    content: '';
    display: block;
    width: 30%;
    height: 6px;
    background: #1ea0ff;
    margin: 0 auto;
    margin-top: 20px;
    transition: .4s ease all;
}

.content h1:hover::after {
    width: 70%;
}

.course-img {
    position: relative;
    width: 100%;
    height: 200px;
}

.course-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: url('../images/Sajt-slike/education.jpg') center center;
    width: 100%;
    height: 100%;
    z-index: 4;
    filter: grayscale(100%) blur(4px);
    opacity: .1;
}

.course-img img {
    position: relative;
    height: 100%;
    object-fit: contain;
    z-index: 5;
}

.about-course {
    position: relative;
    box-sizing: border-box;
    margin-top: 50px;
    padding: 0 10vw;
    text-align: left;
}

.about-course .course-link {
    position: relative;
    display: inline-block;
    background: #1ea0ff;
    padding: 0 30px;
    line-height: 40px;
    border-radius: 20px;
    color: #fff;
    transition: 0.4s ease all;
}

.about-course .course-link:hover {
    background: #fff;
    color: #3b3b3b;
}

.about-course table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}

.about-course table th {
    width: 150px;
    color: #9b9b9b;
}

.about-course table tr {
    height: 50px;
}

.about-course table td {
    padding: 5px 0;
    color: #cfcfcf;
}

.about-course table tr:nth-child(odd) {
    background: #24242e;
}