@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.content {
    position: relative;
    background: #1a1a21;
    min-height: 100vh;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 40px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 40px;
}

.content h1 {
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 100px 0;
    margin-bottom: 60px;
    cursor: default;
    font-size: 2.2em;
}

.content h1::after {
    content: '';
    display: block;
    width: 30%;
    height: 6px;
    background: #1ea0ff;
    margin: 0 auto;
    margin-top: 20px;
    transition: .4s ease all;
}

.content h1:hover::after {
    width: 70%;
}

.main-container {
    display: flex;
}

.courses-category {
    position: relative;
    width: 200px;
    margin-left: 10px;
    padding-top: 20px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 7px;
}

.courses-category h2 {
    color: #fff;
    padding-left: 10px;
}

.courses-category a {
    display: block;
    text-decoration: none;
    margin: 10px 0;
    padding-left: 10px;
    color: #00b6ff;
}


.course-container {
    position:relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  grid-gap: 20px;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  padding:1em 0 4em 0;
  background-color: rgba(255, 255, 255, 0.7);
}


    .course-card {
        width: 250px;
        height: 330px;
        border-radius: 7px;
        margin: 1em;
        background: rgb(5, 99, 154);
        background: linear-gradient( 0deg, rgba(5, 99, 154, 1) 0%, rgba(255, 255, 255, 1) 87% );
        -webkit-box-shadow: 0px 0px 16px 7px rgba(255, 255, 255, 1);
        -moz-box-shadow: 0px 0px 16px 7px rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 16px 7px rgba(255, 255, 255, 1);
    }
.course-img {
  padding-top: 5px;
  width: 100%;
  height: 150px;
  border-radius: 0 0 45% 45%;
  object-fit: contain;
}

.course-content {
  width: 100%;
  padding-left: 10px;
}

.course-title {
  font-size: 1.3em;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.course-about {
  color: #fff;
  padding: 1em 0;
}
.course-enrol {
  display: block;
  width: 100px;
  border-radius: 20px;
  padding: 10px;
  background-color: rgb(0, 183, 255);
  margin: 10px auto;
  text-decoration: none;
  text-align: center;
  color: #fff;
}
@media only screen and (max-width: 625px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .courses-category {
        margin-bottom: 20px;
    }

    .course-container {
        width: 90%;
    }

    .search-form {
        left: 50%;
        transform: translate(-50%, 0);
    }
}


.courses-wrap {
    position: relative;
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    text-align: left;
}

.courses-wrap .crs {
    position: relative;
    background: #24242B;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 40px 20px;
}

.courses-wrap .crs h2 {
    display: block;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.courses-filter .search-form {
    width: 100%;
}

.courses-filter .search-form input {
    text-indent: 1em;
}

.courses-filter .search-form input, select {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    text-indent: 10px;
    border: none;
    margin-bottom: 14px;
    background: #30303d;
    border-radius: 5px;
    color: #dbdbdb;
    outline-color: #1ea0ff;
}

.courses-filter .search-form input:focus,
.courses-filter .search-form select:focus
{
    outline: none;
}

.courses-filter .search-form button {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    background: #e4e4e4;
    color: #24242B;
    border: none;
    transition: 0.5s ease all;
}

.courses-filter .search-form button:hover {
    background: #1ea0ff;
    color: #fff;
}

.courses-categories {
    margin-top: 40px;
}

.courses-categories a {
    display: block;
    color: #b1b1b1;
    padding: 10px 0;
}

.courses-categories a:hover {
    color: #1ea0ff;
}

.courses-list {
    min-height: 700px;
}

.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 20px;
    margin-top: 50px;
}

.courses-grid .course {
    position: relative;
    height: 300px;
    background: #1a1a1f;
    border-radius: 10px;
    overflow: hidden;
}

.course .course-thumb {
    position: relative;
    width: 100%;
    height: 150px;
    background: #1ea0ff;
    overflow: hidden;
}

.course .course-thumb img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-height:100%;
    transition: 0.5s ease all;
}


.course:hover .course-thumb img {
    width: 110%;
}

.course .course-desc {
    padding: 20px;
}

.course .course-desc .course-title {
    font-size: 16px;
    margin-bottom: 20px;
}

.course .course-desc .course-lvl {
    display: inline-block;
    background: #3f3f4b;
    color: #dbdbdb;
    font-size: 12px;
    line-height: 18px;
    padding: 0 10px;
    border-radius: 9px;
    margin-bottom: 10px;
}

.course .course-desc p {
    font-size: 14px;
}

.course a {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pages {
    width: 100%;
    text-align: center;
}

.pages .num {
    display: inline-block;
    width: 30px;
    line-height: 30px;
    background: #1E2021;
    color: #a7a7a7;
    border-radius: 4px;
    margin-top: 40px;
    text-align: center;
}

.pages .active {
    background: #34393B;
    color: #d3d3d3;
}

.totalCourses {
    color: #c3c3c3;
    font-size: 16px;
}

.schoolName {
    color: #1ea0ff;
}