@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans");
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body {
    font-family: 'Jost', sans-serif;
    background: url("../images/Sajt-slike/slika_bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top, center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

body, h1, h2, input {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    padding: 0px;
}

.main_container {
    width: 95vw;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0px auto;
    align-items: center;
    padding: 10px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a span {
    font-family: "Josefin Sans", sans-serif;
    font-size: 60px;
    color: #1ea0ff;
}

.logo a {
    font-family: "Josefin Sans", sans-serif;
    font-size: 35px;
    color: #fff;
    text-decoration: none;
    font-style: normal;
}

nav .right {
    position: relative;
}

.right {
    padding: 20px 0;
}

.right_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profile_desc {
    font-family: 'Jost', sans-serif;
    padding: 8px 60px 8px 20px;
    font-size: 1em;
    line-height: 1em;
    border-radius: 2em;
    background:rgba(31, 31, 43, 0.59);
    color: #fff;
    transform: translateX(40px);
}

.profile_picture {
    margin: 0;
    padding: 0;
    position: relative;
    width: 40px;
    height: 40px;
    border: 4px solid #fff;
    border-radius: 2em;
}

.profile_picture:hover {
    border-color: #479CFF;
    cursor: pointer;
}

.profile_picture:hover + .profile_nav,
.profile_nav:hover {
    visibility: visible;
}

.profile_nav {
    visibility: hidden;
    position: absolute;
    top: 60px;
    right: 0px;
    padding: 0;
    margin: 0;
    z-index: 99;
    transition: 0.3s ease-out all;
}

.profile_nav li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.profile_nav li a {
    display: block;
    background: #1F1F29;
    color: #dbdbdb;
    width: 130px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: 2px solid #2d2d39;
}

.profile_nav li:last-child a {
    border: none;
}

.profile_nav li a:hover {
    color: #1ea0ff;
    cursor: pointer;
}

.wlc {
    color: #479CFF;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1em;
}

.button_wrap {
    position: relative;
    display: inline-flex;
}

.btn {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    margin-left: 10px;
}


.btn a {
    text-transform: uppercase;
    background: transparent;
    min-width: 160px;
    box-sizing: border-box;
    font-size: 14px;
    padding: 6px 20px;
    display: block;
    width: 100%;
    height: 100%;
    border: 3px solid #fff;
    border-radius: 2em;
    color: #fff;
}

.btn-white a {
    background: #fff;
    color: #333;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main-left h1 {
    margin-top: 14vw;
    color: #fff;
    letter-spacing: 4px;
    font-size: 71px;
}

.main-left h2 {
    text-transform: capitalize;
    margin-top: 20px;
    color: #fff;
}

.btn-wrap {
    margin-top: 30px;
    display: inline-flex;
}

.main-right .img1 {
    width: 500px;
    margin-top: 12vw;
}

.login 
{
    position: relative;
    width: 420px;
    background: rgba(31, 31, 43);
    box-sizing: border-box;
    padding: 60px 50px;
}

.login h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    margin-top: 0;
}

.login form {
    width: 100%;
}

.login form input {
    border: none;
    border-radius: 6px;
}

.login form input[type=text],
.login form input[type=password],
.login form input[type=email] {
    width: 100%;
    height: 40px;
    background: rgb(255 255 255 / 0.55);
    text-indent: 1em;
    margin-bottom: 14px;
}

.login form label {
    color: #fff;
    display: block;
    padding: 10px 0;
}

.login form input:focus {
    background: #fff;
    outline: none;
}

.login form input[type=submit] {
    width: 100%;
    height: 40px;
    background: #EA4945;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.login form input[type=submit]:hover {
    background: #fff;
    color: black;
}

.login form input[type=submit]:focus {
    background: #fff;
}

.login a {
    color: #c3c3c3;
}

.login-wrap {
    padding: 4px;
    background: linear-gradient(140deg, transparent, #fff, transparent);
}

.login span {
    color: #cacaca;
}

.field-validation-error span,
.error {
    color: #ff4040;
}
